<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Спасибо <a href="https://www.michaelhartl.com/">Майклу Хартлу</a> за щедрый подарок в виде безлимитки на все его курсы. 
  Рельсам учился по <a href="https://www.railstutorial.org/book"><em>этой</em></a> книге.
</p>